
:root{
    --bcg:#0f0f0f;
    --txtcol:#5f2323;
    --box:#00FFC6
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:var(--bcg) ;
    color: var(--txtcol);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.outer{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:40px;
    perspective: 800px;

}
.s{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    background-color: var(--box);
    border: 2px solid #00ffc6 ;
    box-shadow: 0 0 0 transparent;
    transition: all 0.5s ease;
}
.s:hover{
    box-shadow: 
    0 0 8px #00ffc6,
    0 0 6px #00ffc6,
    0 0 8px #00ffc6,
    0 0 20px rgba(0, 255, 198, 0.4);
}

.scaleX{
    transition: transform 0.3s ease-in-out;
}
.scaleX:hover{
    transform: scaleX(1.2) ;
    border: 1px solid rgb(105, 67, 38);
}
.scaleY{
    transition: transform 0.3s ease-in-out;
}
.scaleY:hover{
    transform: scaleY(1.2) ;
    border: 1px solid rgb(105, 67, 38);
}

.scale{
    transition: all 0.4s ease-in-out;
}
.scale:hover{
    transform: scale(1.2);
    box-shadow: ;
}
.translateX{
    transition: transform 0.3s ease-in-out
}
.translateX:hover{
    transform: translate(20px);
}
.translateY{
    transition: transform 0.3s ease-in-out
}
.translateY:hover{
    transform: translate(-20px);
}
.translate{
    transition: transform 0.3s ease-in-out
}
.translate:hover{
    transform: translate(20px,20px);
}

.matrix{
    transition: transform 0.3s ease;
}
.matrix:hover{
    transform: matrix(1.1, 0.25, -0.25,1.1,10,10);
}

.rotate{
    transition: all 0.3s  ease-in-out ;
    
}
.rotate:hover{
    transform: rotate(45deg);
}

.skew{
    transition:all 0.3s ease;
}
.skew:hover{
    transform: skew(-20deg,20deg);
}
.skewX{
    transition:all 0.3s ease;
}
.skewX:hover{
    transform: skewX(30deg);
}
.skewY{
    transition:all 0.3s ease;
}
.skewY:hover{
    transform: skewY(30deg);
}

.matrix3d{
    transition: all 0.3s,ease;
}
.matrix3d:hover{
  transform: matrix3d(
  0.95, 0.1, 0.1, 0,   /* Row 1: scale X, slight skew/rotation */
  0.1, 0.95, 0.1, 0,   /* Row 2: scale Y, slight skew/rotation */
  0.1, 0.1, 0.95, 0,   /* Row 3: scale Z, slight skew/rotation */
  20, 20, 40, 1        /* Row 4: translate X, Y, Z, homogeneous */
);
}

.translate3d{
transition: transform 0.4s cubic-bezier(.25,.8,.25,1);
  transform-style: preserve-3d;
}
.translate3d:hover{
    transform: 
    translate3d(30px, 20px, 60px)
    /* rotateY(18deg)
    rotateX(12deg)
    scale3d(1.08, 1.08, 1.08); */
}

.rotateY{
    transition: all 0.3s ease-in-out;
}
.rotateY:hover{
    transform: rotateY(60deg);
}
.rotateX{
    transition: all 0.3s ease-in-out;
}
.rotateX:hover{
    transform: rotateX(60deg);
}
.translateZ{
    transition: all 0.3s ease;
}
.translateZ:hover{
    transform: translateZ(50px);
}